<%= render 'shared/errors', obj: @article %>

<%= form_with model: @article do |f| %>
<div class="form-color container py-4 shadow rounded">
 
  <div class="mb-3 row">
    <%= f.label :title, class:"col-sm-3 col-form-label", for:"title" %>
    <div class="col-sm-9">
      <%= f.text_field :title, class:"form-control", id:"title", placeholder:"Title of Article" %>
    </div>
  </div>
  <div class="mb-3 row">
    <%= f.label :description, class:"col-sm-3 col-form-label", for:"description" %>
    <div class="col-sm-9">
      <%= f.text_area :description, class:"form-control", id:"description", placeholder:"Description of Article", rows:5 %>
    </div>
  </div>
  <div class="my-4">
      <%= f.submit class:"btn btn-outline-success" %>
  </div>

</div>

<%= link_to 'Return', articles_path, class:"btn btn-outline-secondary btn-sm mb-3 mt-4" %>

<% end %>
