<h3 class="card-title"><%= @article.title %></h3>

<div class="card text-center my-4">
  <div class="card-header">
    <% if @article.user %>
      by <%= link_to @article.user.username, user_path(@article.user) %>
    <% end %>
    <% if @article.categories.any? %>
      <div class="mt-2"><%= render @article.categories %></div>
    <% end %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= simple_format(@article.description) %></p>
    <% if logged_in? && @article.user == current_user %>
      <%= link_to 'Edit', edit_article_path(@article), class:"btn btn-outline-secondary btn-sm" %>
      <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-outline-danger btn-sm" %>
    <% end %>
  </div>
  <div class="card-footer text-muted">
    <small>Created <%= time_ago_in_words(@article.created_at) %> ago,
    Updated <%= time_ago_in_words(@article.updated_at) %> ago</small>
  </div>
</div>

<h3>Comments:</h3>
<p><%= 'No comments yet' if @article.comments.empty? %></p>
<%= render @article.comments %>

<% if logged_in? %>
  <h3>Add a Comment:</h3>
  <%= render 'comments/form' %>
<% end %>

<p><%= link_to 'Return', articles_path, class:"btn btn-secondary btn-sm mb-3" %></p>
