<h1><%= @user.username.capitalize %>'s Profile</h1>

<% if logged_in? && (@user == current_user || current_user.admin?) %>
  <%= link_to 'Edit your Profile', edit_user_path(@user), class:"btn btn-outline-secondary mb-2" %>
<% end %>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/article', obj: @user.articles %>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%= link_to 'Return', users_path, class:"btn btn-secondary btn-sm my-3" %>
